.DefaultContainer {
  text-align: center;
}

.hero {
  max-width: 256px;
}

.dragon {
  margin-left: -100px;
  max-width: 256px;
}

.skill {
  width: 150px;
  margin: 10px;
}

.hero180 {
  max-width: 256px;
  margin-right: 100px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
